<h1><%= @shop.name %></h1>

<p><strong>URL:</strong> <%= link_to @shop.url, @shop.url, target: "_blank" %></p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back to Shops', shops_path %>