.shop-name-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .shop-name-link:hover {
    text-decoration: underline;
  }

/* ふわっとさせる */
.fadeIn {
    animation-name: fadeInAnime;
    animation-fill-mode:backwards;
    animation-duration:3s;
    animation-timing-function:ease;
    animation-delay: 0.5s;
    animation-direction:normal;
    }
    
    @keyframes fadeInAnime{
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }