<h1>Reviews for <%= @shop.name %></h1>

<table>
  <thead>
    <tr>
      <th>星の数5個中</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.score %></td>
        <td><%= review.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Shop', shop_path(@shop) %>