<h1><%= @shop.name %>レビュー一覧</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>評価</th>
      <th>コメント</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
          <% if review.score == 1 %>
            ★
          <% elsif review.score == 2 %>
            ★★
          <% elsif review.score == 3 %>
            ★★★
          <% elsif review.score == 4 %>
            ★★★★
          <% elsif review.score == 5 %>
            ★★★★★
          <% else %>
            ""
          <% end %>
        </td>
        <td><%= review.comments %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '店舗情報に戻る', shop_path(@shop) %>